/* font: import ================================================ */
@font-face {
  font-family: 'variableFont';
  src: url('./font/FungalVF.ttf') format('truetype');

  font-family: 'variableFont2';
  src: url('./font/Tiny.ttf') format('truetype');
}


/* Layout ================================================ */
html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background-color 1s ease-in-out, background-image 1s ease-in-out;

   /* display: flex;
  justify-content: center;
  align-items: center; */
  transition: background-color 1s ease-in-out;
  background-color: #3d07ff;
  /* background-image: url('./img/tiri_oracle1.jpg'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* text ================================================ */
#mainText1 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  rotate: 0deg;

  font-family: 'variableFont';
  font-size: 200px;
  color: rgb(255, 255, 255);
  text-align: left;
  letter-spacing: 0;
  line-height: 150px;
  text-wrap: nowrap;
  
	font-variation-settings: "opsz" 144, "wght" 300, "GRAD" 150, "wdth" 151, "slnt" 0, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514, "YTAS" 750, "YTDE" -203, "YTFI" 738;
  transition: rotate 1s ease-in-out, font-size 1s ease-in-out, font-variation-settings 1s ease-in-out;
}

#mainText2 {
   position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(30%);
  rotate: 0deg;

  font-family: 'variableFont1';
  font-size: 200px;
  color: rgb(255, 0, 0);
  text-align: left;
  letter-spacing: 0;
  line-height: 200px;
  text-wrap: nowrap;

  font-variation-settings: "opsz" 144, "wght" 350, "GRAD" 150, "wdth" 151, "slnt" 0, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514, "YTAS" 750, "YTDE" -203, "YTFI" 738;
  transition: font-size 1s ease-in-out, font-variation-settings 1s ease-in-out;
}
#mainText3 {
  opacity: 0;
  font-size: 20px; 
   color: rgb(0, 0, 0);  
  transition: all 0.8s ease;
}

#mainText4 {
  opacity: 0;
  font-size: 20px; 
   color: rgb(0, 0, 0);  
  transition: all 0.8s ease;

}
#mainText5{ 
  opacity: 0;
  font-size: 20px; 
   color: rgb(0, 0, 0);  
  transition: all 0.8s ease;

}

.variable1 {
  font-variation-settings: "opsz" 8, "wght" 1000, "GRAD" -200, "wdth" 51, "slnt" -10, "XOPQ" 96, "YOPQ" 79, "XTRA" 200, "YTUC" 712, "YTLC" 514, "YTAS" 750, "YTDE" -203, "YTFI" 738;
  color: red;
}

.variable2 {
  font-variation-settings: "opsz" 8, "wght" 1000, "GRAD" -200, "wdth" 51, "slnt" -10, "XOPQ" 96, "YOPQ" 79, "XTRA" 200, "YTUC" 712, "YTLC" 514, "YTAS" 750, "YTDE" -203, "YTFI" 738;
  color: blue;
}

.variable2 {
  font-variation-settings: "opsz" 8, "wght" 1000, "GRAD" -200, "wdth" 51, "slnt" -10, "XOPQ" 96, "YOPQ" 79, "XTRA" 200, "YTUC" 712, "YTLC" 514, "YTAS" 750, "YTDE" -203, "YTFI" 738;
  color: blue;
}



/* Image ================================================ */
#image {
  position: fixed;
  position: absolute;
  width: 400px;
}


